.wrapper {
    width: 600px;
    margin: auto;
    background-color: cornsilk;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
}
.main_block {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}
button {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    background: cadetblue;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 14px;
    
}
.button {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}